html {
  font-size: calc(12px + 0.25vw)
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(9.5px + 0.25vw)
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: calc(7px + 0.25vw)
  }
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

#masthead h1, #masthead p {
  color: white;
}

#masthead p {
  font-weight: 400;
}

#masthead #contentArea {
  margin-top: auto;
  margin-bottom: auto;
}

p {
  color: #999999;
  font-size: 1.375rem;
  line-height: 2.25rem;
  font-weight: 300;
  padding: 0px;
  margin: 0px 0px 16px 0px;
}

h1 {
  color: #111111;
  font-size: 4rem;
  line-height: 4.75rem;
  font-weight: 700;
  padding: 0px;
  margin: 0px 0px 36px 0px;
}

h2 {
  color: #333333;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  padding: 0px;
  margin: 0px 0px 24px 0px;
}

h3 {
  color: #444444;
  font-size: 2rem;
  font-weight: 600;
  padding: 0px;
  margin: 36px 0px 24px 0px;
}

h4 {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px 0px 16px 0px;
}

ol {
  width: 100%;
  padding: 0px;
  margin: 0px 0px 16px 0px;
}

ol li {
  color: #666666;
  font-size: 1.375rem;
  line-height: 2.25rem;
  font-weight: 400;
  font-style: italic;
  padding: 0px;
  margin: 16px 0px 0px 48px;
}